@using SkillForge.Areas.Admin.Models.DTOs

@model CategoryVM

@{
    Layout = "_AdminPageLayout";
    bool isCreate = Model.Id == 0;
    string action = isCreate ? "Create" : "Update";
    ViewData["Title"] = isCreate
        ? "Create New Category"
        : $"Edit Category #{Model.Id}";
    ViewData["PageHeading"] = ViewData["Title"];
}

@section Styles
{
    <link href="~/lib/quill/quill.css" rel="stylesheet" />
}

@section ScriptsHead
{
    <script src="~/lib/quill/quill.js"></script>
}

<div class="mb-5">
    <form asp-action="@action" enctype="multipart/form-data" id="category_form">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.CurrentImageFilename" />

        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.Code></label>
            </div>
            <div class="col-12 col-lg-8">
                <input asp-for=@Model.Code class="form-control d-block w-100" />
                <span asp-validation-for=@Model.Code class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.DisplayedName></label>
            </div>
            <div class="col-12 col-lg-8">
                <input asp-for=@Model.DisplayedName class="form-control d-block w-100" />
                <span asp-validation-for=@Model.DisplayedName class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.Image></label>
            </div>
            <div class="col-12 col-lg-8">
                <input asp-for=@Model.Image class="form-control d-block w-100" accept="image/*" />
                <span asp-validation-for=@Model.Image class="text-danger"></span>

                @if (Model.CurrentImageFilename != null)
                {
                    <div id="img-@(Model.CurrentImageFilename)" class="mt-4">
                        <button type="button" class="border-0 bg-transparent w-25 p-0" data-bs-toggle="modal" data-bs-target="#imagePreviewModal">
                            <div class="card">
                                <img src="~/images/categories/@(Model.CurrentImageFilename)" class="card-img" />
                            </div>
                        </button>

                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.RemoveImage" class="form-check-input" />
                            <label asp-for="@Model.RemoveImage" class="form-check-label">Remove current image</label>
                        </div>

                        <div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content p-2">
                                    <img src="~/images/categories/@(Model.CurrentImageFilename)" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.Description></label>
            </div>
            <div class="col-12 col-lg-8">
                <div id="Description_editor" style="height: 200px">@Html.Raw(Model.Description)</div>
                <input type="hidden" asp-for=@Model.Description />
                <span asp-validation-for=@Model.Description class="text-danger"></span>
            </div>
        </div>

        <script>
            const quill = new Quill('#Description_editor', {
                theme: 'snow'
            });

            const form = document.getElementById("category_form");
            form.addEventListener("submit", function () {
                const descriptionInput = document.getElementById("Description");
                descriptionInput.value = quill.root.innerHTML;
            });
        </script>

        <button type="submit" class="btn btn-lg btn-primary mt-4 px-4">Save</button>
    </form>
</div>